.red {
  background: red;
  height: 200px;
  width: 200px;
  z-index: 3;
}
.blue {
  background: blue;
  height: 100px;
  width: 100px;
  position: absolute;
  left: 160px;
  top: 150px;
  z-index: 1;
}
.yellow {
  background: yellow;
  height: 150px;
  width: 150px;
  position: absolute;
  margin-top: 150px;
  z-index: 1;

}