@import './variables';
a {
    color: $klein;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;

    background: $pipi;


}
nav {
    background: $pipi;
    padding: 100px;
}


