.red {
  background: red;
  height: 200px;
  width: 200px;
  position: absolute;
  left: 600px;
}
.blue {
  background: blue;
  height: 100px;
  width: 100px;
}
.yellow {
  background: yellow;
  height: 150px;
  width: 150px;
  position: absolute;
  left: 1200px;
  top: 20px;
}