.spiderman{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 20px;
  animation: rotation 2s infinite linear;
}

@keyframes rotation {
  50% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(0deg);
  }
}